body
    include ../components/home
    include ../components/about
    include ../components/services
    include ../components/portfolio
    include ../components/creative
    include ../components/team
    include ../components/skill
    include ../components/clients
    include ../components/pricing
    include ../components/blog
    include ../components/sponsors
    include ../components/contact
    include ../components/footer
    include Scripts