head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title BizPro - Personal Portfolio
    link(rel="shortcut icon", href="./images/icon.png", type="image/x-icon")
    link(rel="stylesheet", href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:400,500,700")
    link(rel="stylesheet", href="./node_modules/animate.css/animate.min.css")
    link(rel="stylesheet", href="./node_modules/owl.carousel/dist/assets/owl.carousel.css")
    link(rel="stylesheet", href="./node_modules/owl.carousel/dist/assets/owl.theme.default.css")
    link(rel="stylesheet", href="css/main.css")