@import './base/general'
@import './base/mixins'
@import './components/buttons'
@import './components/header'
@import './components/main-slider'
@import './components/about'
@import './components/services'
@import './components/portfolio'
@import './components/creative'
@import './components/team'
@import './components/skill'
@import './components/clients'
@import './components/pricing'
@import './components/blog'
@import './components/sponsors'
@import './components/contact'
@import './components/footer'