.owl-carousel.owl-theme.main-slider
    -for(var i = 0;i < 3;i++)
        .slider
            h1.slider__title Hello, We Are BizPro
            h2.slider__subtitle Hi, We Provide A Creative Content
            a(href="#" class="btn btn--red") See Our Project