.banner
    background-image linear-gradient(rgba($black, .9), rgba($black, .7)),url('../images/banner.jpg')
    background-size cover
    background-position center center
    padding 10rem 0
    flex(flex-start, center)
    flex-direction column
    &__title
        color #ffffff
        font-size 4rem
        font-weight 700
        margin-bottom 4rem
        text-align center