colors =  #4267b2 #38A1F3 #BD081C #0077B5 #00aff0 #ff0084 #ea4c89 #dc4e41 
.footer
    padding 4rem 2rem
    text-align center
    background-color $black
    color #fff
    &__socials
        flex(center, center)
        flex-wrap wrap
        margin-bottom 4rem
        .icon
            width 4rem
            height 4rem
            background-color transparent
            transition-property background-color, color
            transition-duration 300ms
            border 1px solid transparent
            border-radius 50%
            flex(center, center)
            font-size 2rem
            margin-bottom 1rem
            for $color, num in colors
                &:nth-child({num+1})
                    color $color
                    border-color $color
                    &:hover
                        cursor pointer
                        background-color $color
                        color #fff
            &:not(:last-child)
                margin-right 2rem
    &__copyright
        font-size 2rem
        font-weight 400