.pricing
    background-color $light-grey
    padding 4rem 2rem
    display grid
    grid-template-rows repeat(3, 1fr)
    grid-template-columns 1fr
    grid-gap 4rem
    @media(min-width 50em)
        grid-template-rows 1fr
        grid-template-columns repeat(3, 1fr)
    &__item
        background-color #fff       
        flex()
        flex-direction column
        text-align center
    &__heading
        padding 2rem 0
    &__title
        font-size 3rem
        font-weight 700
        text-transform uppercase
        margin-bottom 1rem
    &__subtitle
        font-size 2rem
        font-weight 400
        text-transform capitalize
        color $grey
    &__price
        flex(center, center)
        color #ffffff
        padding 2rem 0
    &__value
        flex(flex-start, center)
        .dollar
        .value
            font-size 3rem
            font-weight 700
        .per
            font-size 1.8rem
            font-weight 500
            margin-left 1rem
    &__features
        padding 2rem 0
        .feature
            font-size 2rem
            font-weight 300
            padding 2rem 0
            &:nth-child(odd)
                background-color $light-grey
    &__btn
        flex(center, center)
        padding 2rem 0
    &__item
        border 1px solid #dfdfdf
        transition-property transform, box-shadow
        transition-duration 300ms
        &:hover
            transform translateY(-3px)
            box-shadow 0 1px 1rem 0 rgba($black, .25)
        &--basic
            .pricing__price
                background-color $basic
        &--advanced
            .pricing__price
                background-color $advanced
        &--premium
            .pricing__price
                background-color $premium
    